@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CheckPassword";
}
@model W3WGame.Admin.Controllers.AdminUsers.ViewModels.ChangePasswordModel
<div class="wrap">
    <div class="right_box_card">
        <ul>
            <li class="right_box_card1"><a href="#">修改密码</a></li>
        </ul>
    </div>
    <div style="padding: 10px;">
        @using (Html.BeginForm())
        {
           
      
            <table class="enter_tab" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr height="40">
                    <td class="entry_tab_td1">
                        @Html.LabelFor(c => c.OldPassword)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.PasswordFor(c => c.OldPassword, new { @class = "tab_input" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(c=>c.OldPassword)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">
                        @Html.LabelFor(c => c.NewPassword)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.PasswordFor(c => c.NewPassword, new { @class = "tab_input" })
                    </td>
                     <td>
                        @Html.ValidationMessageFor(c=>c.NewPassword)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">
                        @Html.LabelFor(c => c.ConfirmPassword)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "tab_input" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(c=>c.ConfirmPassword)
                    </td>
                </tr>
              
                <tr height="40">
                    <td class="entry_tab_td1">
                        
                    </td>
                    <td class="entry_tab_td2">
                        <input type="submit" value="修改密码" style="width: 100px; height: 30px;"/>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
