

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "游戏卡管理";
}
@model WangFramework.MvcPager.PagedList<W3WGame.Core.Entities.GameKa>
<link href="../../Scripts/colorbox/colorbox.css" rel="stylesheet" type="text/css" />
<link href="../../Scripts/colorbox/colorbox.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="../../Scripts/AdminCommon.js" type="text/javascript"></script>
<script src="../../Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $(".box").colorbox({
            iframe: true,
            width: 550,
            height: 550,
            onClosed: function() {
                window.location.reload();
            }
        });
        $(".box1").colorbox({
            iframe: true,
            width: 750,
            height: 800,
            onClosed: function() {
                window.location.reload();
            }
        });
        
        loadServer();
        $('#serverid').val("@Request["serverid"]");
       
        $("#gameid").change(function() {
            loadServer();

        });
       
    });
    function loadServer() {
        var gameid = $('#gameid');
        var serverlist = $('#serverid');

        var gameid = gameid.val();
        serverlist.empty();
        
        $.ajax({
            async: false,
            url: "@Url.Action("GetServerList","GameServersManager")",
            type: "GET",
            data:{gameid:gameid},
            success: function(data) {
                 $.each(data, function (i, item) {
                $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo(serverlist);
            });
            }
        });
            
      
    };


   
</script>
<div class="right_box_card">
    <ul>
        <li class="right_box_card1"><a href="@Url.Action("List","GameKaManager")">游戏卡管理</a></li>

    </ul>
</div>
<div style="line-height: 40px;">
    <p class="avatar_btn">
        <a href="@Url.Action("Save", "GameKaManager")" class="box" id="lnkAdd">新增</a>
    </p>
</div>
<div>
    @using (Html.BeginForm("List", "GameKaManager", FormMethod.Get))
    {
        <table class="right_box_tab" style="margin-top: 10px;" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr height="40px">
                <td>
                    游戏：@Html.DropDownList("gameid", ViewData["gamelist"] as List<SelectListItem>, new { @class = "text-input" })&nbsp;&nbsp;
                     服务器：@Html.DropDownList("serverid", new List<SelectListItem>())

                </td>
                <td>
                   
                </td>
                 <td>
                     <input type="submit" value="查找" class="submit" style="float: left; width: 80px;" />
                  
                </td>
            </tr>
            
            
        </table>
    }
</div>
<table class="right_box_tab" style="margin-top: 10px;" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr height="30" class="tab_title">
                 <td> 
         ID
		 </td>
		 
		          <td> 
         卡类型
		 </td>
		 
		          <td> 
         卡标题
		 </td>
		 
		          <td> 
         数量
		 </td>
		 
		          <td> 
         游戏ID
		 </td>
		 
		          <td> 
         服务器ID
		 </td>
		 
		          <td> 
         创建日期
		 </td>
		 
		          <td> 
         剩余数量
		 </td>
		 
		 		
        <td>
            操作
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr height="35" class="tab_td1">
                 <td>
         @item.ID
		 </td>
		 
		          <td>
         @item.KaType
		 </td>
		 
		          <td>
         @item.KaTitle
		 </td>
		 
		          <td>
         @item.Count
		 </td>
		 
		          <td>
         @item.GameID
		 </td>
		 
		          <td>
         @item.ServerID
		 </td>
		 
		          <td>
         @item.CreateDate
		 </td>
		 
		          <td>
         @item.Shengyu
		 </td>
		 
		             <td>
                @Html.ActionLink("修改", "Save", "GameKaManager", new { id = item.ID }, new { @class = "box" })
                         <a href="#" onclick="DeletePost('/GameKaManager/Delete', { id: @item.ID})">
                             删除</a>

                 @Html.ActionLink("批量添加卡", "AddCode", "GameKaManager", new { kaid = item.ID }, new { @class = "box1" })
                
            </td>
        </tr>
    }
</table>
<div style="padding:10px;">
    @Html.Pager(Model)
</div>
