@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";


    var gameinfolist = ViewData["gameinfolist"] as List<MobilGame>;
    var newlist = ViewData["newlist"] as List<NewsDto>;
    var adinfo = ViewData["adinfo"] as ADConfig;
    var activeadinfo = ViewData["adinfoactive"] as ADConfig;
    int i = 1;
    ViewBag.Tag = 6;
}
@using W3WGame.Core.Dtos.Web
@using W3WGame.Core.Entities
@using W3WGame.Services.ToolCode
@using WangFramework.Common
@using WangFramework.MvcPager
@model WangFramework.MvcPager.PagedList<W3WGame.Core.Entities.GameNews>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/public_9game.css?ver=20140327">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/pcnew_public.css?ver=20140327">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/public/pub_header.css">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/pcnew_detail.css">
<script type="text/javascript">
    $(function () {
        var newstag = '@Request["tid"]';
       if(newstag !='') {
           
           $("#mynewslist li[tag='@Request["tid"]']").addClass("current");
       } else {
        $("#mynewslist li:first").addClass("current");
       }
       
    });
</script>
<div class="main-con">
    <div class="page-break">
        <a href="http://www.w3wgame.com" title="手机游戏">手机游戏</a>&gt;<span>网游资讯</span>
    </div>
    <div class="box ol-list-con">
        <div class="info-con-730">
            <div class="tag-tit tag-tit-6" >
                <ul class="tag-tit-ul2 ol-list-page"  id="mynewslist">
                    <li class=""  tag="0">
                        <h2>
                            <a href="/news/" target="_self" class="name">最热</a></h2>
                    </li>
                    <li class="" tag="1">
                        <h2>
                            <a href="/news/?tid=1" target="_self"  class="name" title="网游新闻">网游新闻</a></h2>
                    </li>
                    <li class=""  tag="2">
                        <h2>
                            <a href="/news/?tid=2" target="_self" class="name" title="网游评测">网游公告</a></h2>
                    </li>
                    <li class="" tag="4">
                        <h2>
                            <a href="/news/?tid=4" target="_self"  class="name" title="网游攻略">网游攻略</a></h2>
                    </li>
                    <li class="last" tag="3">
                        <h2>
                            <a href="/news/?tid=3" class="name"  target="_self" title="新游资讯">新游活动</a></h2>
                    </li>
                </ul>
            </div>
            <div class="box-text">
                <ul class="news-list-con">
                    @foreach (var item in Model)
                    {
                        <li class="">
                            <div class="title">
                                <h2 class="name">
                                    <a href="@WebHelper.GetGameNews(item.ID)"  title="@item.Title">
                                        @item.Title</a></h2>
                                <span class="time">@item.CreateDate.ToString() 发表</span>
                            </div>
                            <p class="text">
                                @Utils.LeftString(item.ShortDes, 30)</p>
                        </li>

                    }
                </ul>
                <div class="page-change">
                    @Html.Pager(Model)
                </div>
            </div>
        </div>
        <div class="info-con-250">
            <div class="right-banner">
                <a href="@adinfo.Link" title="@adinfo.Title" data-statis="text:p_news_jykhd">
                    <img src="@WebHelper.GetImg(adinfo.AdPath)" class="" alt="@adinfo.Title"
                        style="opacity: 0.94;"></a>
            </div>
            <div class="right-recom">
                <div class="box-title">
                    <h3>
                        <a href="javascript:void(0);" target="_self">热门活动</a>
                    </h3>
                </div>
                <div class="box-text">
                    <a href="@activeadinfo.Link" title="@activeadinfo.Title" class="pic-word-con"
                         >
                        <img class="pic" src="@WebHelper.GetImg(activeadinfo.AdPath)" alt="@activeadinfo.Title"
                            style="opacity: 1;">
                        <p class="text">
                            @activeadinfo.Title</p>
                    </a>
                    <ul class="news-list">
                        @foreach (var item in newlist)
                        {
                            <li><a href="@WebHelper.GetGameNews(item.ID)" 
                            title="@item.Title">@Utils.LeftString(item.Title, 18)</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="side-rank">
                <div class="box-title">
                    <h3>
                        <a href="http://www.w3wgame.com/rank/">网游排行榜</a></h3>
                    <a href="http://www.w3wgame.com/rank/" data-statis="text:p_news_rank_more" title="更多网游排行榜"
                        class="more">更多</a>
                </div>
                <div class="box-text">
                    <ul class="side-rank-list">
                        @foreach (var item in gameinfolist)
                        {
                            <li class="first">
                                <div class="side-rank-num">
                                    1</div>
                                <a href="@WebHelper.GetGameUrl(item.ID)" title="" class="side-rank-info" data-statis="text:logo_p_news_rank_519910">
                                    <img src="@WebHelper.GetImg(item.ImgPath)" class="xLazyClass" xlazyimg="@WebHelper.GetImg(item.ImgPath)"
                                    alt="@item.GameName">
                                    <p>
                                        @item.GameName</p>
                                    <span class="radius32"></span></a><a href="javascript:void(0)" class="btn down" target="_self" onclick="javascript:void (0);"
                                    title="@item.GameName" ></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
