@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    
}
@using W3WGame.Core.Enums
@using WangFramework.Extensions
@using W3WGame.Services.ToolCode
@model List<W3WGame.Core.Dtos.Web.GameDownloadDto>
           
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/public_9game.css">
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/pcnew_public.css">
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/pcnew_search.css">

    <div class="main-con">
        <div class="page-break">
            <a href="http://www.w3wgame.com/" data-statis="text:p_gamestore_mbx">手机游戏 </a>&gt;<span>找游戏</span>
        </div>
        <div class="game-classify-con">
            <div class="box-title">
                <h2> 
                    游戏分类</h2> 
                <a href="http://www.w3wgame.com/category/" class="more" data-statis="text:p_gamestore_category_more">
                    更多</a>
            </div>
            <div class="box-text">
                <div class="class-con">
                    <div class="little-tit">
                        <h3>
                            游戏类型</h3>
                    </div>
                    <div class="class-text">
                        <div class="left">
                            <div class="cans can-orange">
                                <h4>
                                    <a href="http://www.w3wgame.com/category/2_1_0_0_0_1/" data-statis="text:p_gamestore__category_juese">
                                        角色</a></h4>
                                <p class="num">
                                    3295款</p>
                                <p class="des">
                                    来拯救世界吧少年</p>
                            </div>
                            <div class="cans ">
                                <h4>
                                <a href="http://www.w3wgame.com/category/2_2_0_0_0_1/" data-statis="text:p_gamestore__category_xiuxian">
                                    休闲</a></h4>
                            <p class="num">
                                715款</p>
                            <p class="des">
                                地铁与公交不二选择</p>
                        </div>
                        <div class="cans ">
                            <h4>
                                <a href="http://www.w3wgame.com/category/2_3_0_0_0_1/" data-statis="text:p_gamestore__category_jingsu">
                                    竞速</a></h4>
                            <p class="num">
                                30款</p>
                            <p class="des">
                                检验你是不是快枪手</p>
                        </div>
                        <div class="cans ">
                            <h4>
                                <a href="http://www.w3wgame.com/category/2_4_0_0_0_1/" data-statis="text:p_gamestore__category_celue">
                                    策略</a></h4>
                            <p class="num">
                                1900款</p>
                            <p class="des">
                                化身军师，雄策伟略</p>
                        </div>
                        <div class="cans ">
                            <h4>
                                <a href="http://www.w3wgame.com/category/2_5_0_0_0_1/" data-statis="text:p_gamestore__category_yinyue">
                                    音乐</a></h4>
                            <p class="num">
                                35款</p>
                            <p class="des">
                                我才不是节奏大师</p>
                        </div>
                        <div class="cans ">
                            <h4>
                                <a href="http://www.w3wgame.com/category/2_6_0_0_0_1/" data-statis="text:p_gamestore__category_sheji">
                                    射击</a></h4>
                            <p class="num">
                                94款</p>
                            <p class="des">
                                咦？好想射点什么</p>
                        </div>
                        <div class="cans can-green">
                            <h4>
                                <a href="http://www.w3wgame.com/category/2_7_0_0_0_1/" data-statis="text:p_gamestore__category_moni">
                                    模拟</a></h4>
                            <p class="num">
                                147款</p>
                            <p class="des">
                                365种身份随时变</p>
                        </div>
                        <div class="cans ">
                            <h4>
                                <a href="http://www.w3wgame.com/category/2_8_0_0_0_1/" data-statis="text:p_gamestore__category_qita">
                                    其他</a></h4>
                            <p class="num">
                                60款</p>
                            <p class="des">
                                被剩下的也有好货呀</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="cans-big can-jade">
                            <h4>
                                <a href="http://www.w3wgame.com/rank/" data-statis="text:p_gamestore_category_rank">热门网游</a></h4>
                            <p class="num">
                                Top 50</p>
                            <div class="des">
                                <p>
                                    打怪、团战、副本
                                </p>
                                <p>
                                    网游一样不能少</p>
                            </div>
                        </div>
                        <div class="cans-big can-purple">
                            <h4>
                                <a href="http://www.w3wgame.com/danji/" data-statis="text:p_gamestore_category_danji">单机分类</a></h4>
                            <p class="num">
                                Top 50</p>
                            <div class="des">
                                <p>
                                    探索游戏核心玩法</p>
                                <p>
                                    独自一人也欢乐</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="class-con">
                <div class="little-tit">
                    <h3>
                        游戏题材</h3>
                </div>
                <div class="class-text">
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_13_0_0_1/" data-statis="text:p_gamestore_category_nansheng">
                                男生</a></h4>
                        <p class="num">
                            8001款</p>
                        <p class="des">
                            型男必备，娘炮不玩</p>
                    </div>
                    <div class="cans can-pink">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_14_0_0_1/" data-statis="text:p_gamestore_category_nvsheng">
                                女生</a></h4>
                        <p class="num">
                            4332款</p>
                        <p class="des">
                            进可御姐，退可萌妹</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_15_0_0_1/" data-statis="text:p_gamestore_category_lishi">
                                历史</a></h4>
                        <p class="num">
                            485款</p>
                        <p class="des">
                            亲身上演古代穿越剧</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_3_0_0_1/" data-statis="text:p_gamestore_category_xianxia">
                                仙侠</a></h4>
                        <p class="num">
                            557款</p>
                        <p class="des">
                            一战成魔，修炼成仙</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_5_0_0_1/" data-statis="text:p_gamestore_category_mohuan">
                                魔幻</a></h4>
                        <p class="num">
                            1827款</p>
                        <p class="des">
                            万千变幻，不明觉厉</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_16_0_0_1/" data-statis="text:p_gamestore_category_fengshen">
                                封神</a></h4>
                        <p class="num">
                            59款</p>
                        <p class="des">
                            快来做偶滴神吧</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_17_0_0_1/" data-statis="text:p_gamestore_category_xuanhuan">
                                玄幻</a></h4>
                        <p class="num">
                            248款</p>
                        <p class="des">
                            来体验看不懂的世界</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_18_0_0_1/" data-statis="text:p_gamestore_category_dushi">
                                都市</a></h4>
                        <p class="num">
                            76款</p>
                        <p class="des">
                            灯红酒绿，激情男女</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_19_0_0_1/" data-statis="text:p_gamestore_category_dongman">
                                动漫</a></h4>
                        <p class="num">
                            898款</p>
                        <p class="des">
                            结交基友一同前行</p>
                    </div>
                    <div class="cans can-orange">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_4_0_0_1/" data-statis="text:p_gamestore_category_wuxia">
                                武侠</a></h4>
                        <p class="num">
                            489款</p>
                        <p class="des">
                            不打炮，只打架</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_8_0_0_1/" data-statis="text:p_gamestore_category_xiyou">
                                西游</a></h4>
                        <p class="num">
                            265款</p>
                        <p class="des">
                            猴哥，师傅又被抓了</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_1_0_0_1/" data-statis="text:p_gamestore_category_sanguo">
                                三国</a></h4>
                        <p class="num">
                            868款</p>
                        <p class="des">
                            三国统一，就此一战</p>
                    </div>
                </div>
            </div>
            <div class="class-con">
                <div class="little-tit">
                    <h3>
                        游戏玩法</h3>
                </div>
                <div class="class-text">
                    <div class="cans can-red">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_10_0_0_1/" data-statis="text:p_gamestore_category_jishi">
                                即时</a></h4>
                        <p class="num">
                            1200款</p>
                        <p class="des">
                            说走就走，要战便战</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_2_0_0_1/" data-statis="text:p_gamestore_category_kapai">
                                卡牌</a></h4>
                        <p class="num">
                            1378款</p>
                        <p class="des">
                            靠实力，也靠运气</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_20_0_0_1/" data-statis="text:p_gamestore_category_yangcheng">
                                养成</a></h4>
                        <p class="num">
                            1767款</p>
                        <p class="des">
                            主人，欢迎回来哦~</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_11_0_0_1/" data-statis="text:p_gamestore_category_huihe">
                                回合</a></h4>
                        <p class="num">
                            913款</p>
                        <p class="des">
                            来大战三百回合吧！</p>
                    </div>
                    <div class="cans can-blue">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_9_0_0_1/" data-statis="text:p_gamestore_category_hengban">
                                横版</a></h4>
                        <p class="num">
                            913款</p>
                        <p class="des">
                            爽快操作，火热打击</p>
                    </div>
                    <div class="cans ">
                        <h4>
                            <a href="http://www.w3wgame.com/category/2_0_21_0_0_1/" data-statis="text:p_gamestore_category_gedou">
                                格斗</a></h4>
                        <p class="num">
                            646款</p>
                        <p class="des">
                            我要打10个！！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*  @Html.Action("xiaobian","mainLayout")*@
    <div class="game-rank-con">
        <div class="box-title">
            <h2>
                热门游戏排行榜</h2>
        </div>
        <div class="box-text">
            <ul class="one-tab-con">
                <li class="current">
                    <h3 class="title">
                        TOP1~10</h3>
                </li>
                <li>
                    <h3 class="title">
                        TOP11~20</h3>
                </li>
                <li>
                    <h3 class="title">
                        TOP21~30</h3>
                </li>
                <li>
                    <h3 class="title">
                        TOP31~40</h3>
                </li>
                <li class="last">
                    <h3 class="title">
                        TOP41~50</h3>
                </li>
            </ul>
            <div class="text-tab-con">
                <ul class="rank-poker current">
                    @foreach(var item in Model.Take(10))
                    {
                        <li><i class="corner" ></i><a href="#" class="img" >
                        <img src="@WebHelper.GetImg(item.ImgPath)" class="" alt="时空猎人" style="opacity: 0.94;">
                        <span class="radius120"></span></a>
                        <p class="name">
                            <a href="#" >@item.GameName</a></p>
                        <p class="type">
                             @(((YunYingStateEnum)item.YunYingState).ToDescriptionName()) | @item.Size</p>
                        <div class="fav">
                            @WebHelper.Start(item.HotScore)
                        </div>
                        <a href="javascript:void(0)" target="_self" title="" class="down ajax-down-pop" >
                            立即下载</a> </li>
                    }
                  
                   
                </ul>
                <ul class="rank-poker">
                     @foreach(var item in Model.Skip(10).Take(20))
                    {
                        <li><i class="corner" ></i><a href="#" class="img" >
                        <img src="@WebHelper.GetImg(item.ImgPath)" class="" alt="时空猎人" style="opacity: 0.94;">
                        <span class="radius120"></span></a>
                        <p class="name">
                            <a href="#" >@item.GameName</a></p>
                        <p class="type">
                             @(((YunYingStateEnum)item.YunYingState).ToDescriptionName()) | @item.Size</p>
                        <div class="fav">
                            @WebHelper.Start(item.HotScore)
                        </div>
                        <a href="javascript:void(0)" target="_self" title="" class="down ajax-down-pop" >
                            立即下载</a> </li>
                    }
                  
                   
                
                </ul>
                <ul class="rank-poker">
                     @foreach (var item in Model.Skip(20).Take(30))
                     {
                         <li><i class="corner" ></i><a href="#" class="img" >
                        <img src="@WebHelper.GetImg(item.ImgPath)" class="" alt="时空猎人" style="opacity: 0.94;">
                        <span class="radius120"></span></a>
                        <p class="name">
                            <a href="#" >@item.GameName</a></p>
                        <p class="type">
                             @(((YunYingStateEnum)item.YunYingState).ToDescriptionName()) | @item.Size</p>
                        <div class="fav">
                            @WebHelper.Start(item.HotScore)
                        </div>
                        <a href="javascript:void(0)" target="_self" title="" class="down ajax-down-pop" >
                            立即下载</a> </li>
                     }
                  
                   
                   
                </ul>
                <ul class="rank-poker">
                     @foreach (var item in Model.Skip(30).Take(40))
                     {
                        <li><i class="corner" ></i><a href="#" class="img" >
                        <img src="@WebHelper.GetImg(item.ImgPath)" class="" alt="时空猎人" style="opacity: 0.94;">
                        <span class="radius120"></span></a>
                        <p class="name">
                            <a href="#" >@item.GameName</a></p>
                        <p class="type">
                             @(((YunYingStateEnum)item.YunYingState).ToDescriptionName()) | @item.Size</p>
                        <div class="fav">
                           @WebHelper.Start(item.HotScore)
                        </div>
                        <a href="javascript:void(0)" target="_self" title="" class="down ajax-down-pop" >
                            立即下载</a> </li>
                     }
                  
                </ul>
                <ul class="rank-poker">
                    @foreach (var item in Model.Skip(40).Take(50))
                    {
                       <li><i class="corner" ></i><a href="#" class="img" >
                        <img src="@WebHelper.GetImg(item.ImgPath)" class="" alt="时空猎人" style="opacity: 0.94;">
                        <span class="radius120"></span></a>
                        <p class="name">
                            <a href="#" >@item.GameName</a></p>
                        <p class="type">
                             @(((YunYingStateEnum)item.YunYingState).ToDescriptionName()) | @item.Size</p>
                        <div class="fav">
                            @WebHelper.Start(item.HotScore)
                        </div>
                        <a href="javascript:void(0)" target="_self" title="" class="down ajax-down-pop" >
                            立即下载</a> </li>
                    }
                  
                </ul>
               
            </div>
        </div>
    </div>

@*    <div class="game-adv-con">
        <div class="box-title">
            <h2>
                精品专题</h2>
            <a href="http://www.w3wgame.com/news/16_1/" class="more" data-static="p_gamestore_zt_more">
                更多</a>
        </div>
        <div class="box-text">
            <a href="http://www.w3wgame.com/special/14/" class="pic-word-con" name="uc_gd_adm" gd_stat="192_6232"
                data-statis="text:logo_p_gamestore_gds_192_6232">
                <img class="pic" src="http://image.game.uc.cn/2014/9/5/9899512.jpg" alt="日韩游每周精选：妹控魔法男的逆鳞"
                    style="opacity: 1;">
                <p class="text">
                    日韩游每周精选：妹控魔法男的逆鳞</p>
            </a><a href="http://chinajoy.w3wgame.com/" class="pic-word-con" name="uc_gd_adm" gd_stat="192_6230"
                data-statis="text:logo_p_gamestore_gds_192_6230">
                <img class="pic" src="http://image.game.uc.cn/2014/7/2/9782861.jpg" alt="ChinaJoy2014w3w游戏专题站"
                    style="opacity: 1;">
                <p class="text">
                    ChinaJoy2014w3w游戏专题站</p>
            </a><a href="http://www.w3wgame.com/news/241058.html" class="pic-word-con" name="uc_gd_adm"
                gd_stat="192_9220" data-statis="text:logo_p_gamestore_gds_192_9220">
                <img class="pic" src="http://image.game.uc.cn/2014/7/25/9820561.jpg" alt="网易携新作《乱斗西游》挑战手游版LOL"
                    style="opacity: 1;">
                <p class="text">
                    网易携新作《乱斗西游》挑战手游版LOL</p>
            </a><a href="http://www.w3wgame.com/news/241288.html" class="pic-word-con" name="uc_gd_adm"
                gd_stat="192_9219" data-statis="text:logo_p_gamestore_gds_192_9219">
                <img class="pic" src="http://image.game.uc.cn/2014/7/25/9820560.jpg" alt="围住神经病猫 无节操游戏任你挑"
                    style="opacity: 1;">
                <p class="text">
                    围住神经病猫 无节操游戏任你挑</p>
            </a>
        </div>
    </div>*@
</div>

    <script type="text/javascript" src="/public/javascripts/pc/lscs/x_move.js"></script>
    <script type="text/javascript" src="/public/javascripts/pc2/search_game.js"></script>