@using W3WGame.Core.Dtos
@using W3WGame.Core.Entities
@using W3WGame.Core.Enums
@using WangFramework.Extensions
@using W3WGame.Services.ToolCode
@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    var todayserverlist = ViewData["todayserverlist"] as List<GameServersDto>;
    var willserverlist = ViewData["willserverlist"] as List<GameServersDto>;
    var friendList = ViewData["friendList"] as List<FriendLink>;
    
}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc/common/public_9game.css">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/netgame/kf/open_server.css" />
<div class="main-con">
    <div class="page-break">
        <a href="http://www.9game.cn/" title="手机游戏" data-statis="text:txt_kf_mbx_po-1_other-index">
            手机游戏</a>&gt;新服表
    </div>
    <div class="box today-new-server">
        <div class="box-title" id="todayOpen">
            <h2>
                今日新服</h2>
            <span class="time">(@DateTime.Now.ToString("MM-dd"))</span><a href="/kc/" class="server-more"
                title="今日开测">今日开测</a>
        </div>
        <div class="box-text">
            <ul class="today-server-list">
                @foreach (var item in todayserverlist)
                {
                    <li class="timeli">
                        <div class="time">
                            @item.OpenTime.ToString("HH:ss")</div>
                        <div class="pic">
                            <a href="#" title="@item.GameName" >
                                <img src="@WebHelper.GetImg(item.ImgPath)" class="" alt="@item.GameName" style="opacity: 0.94;">
                                <span class="radius90"></span></a>
                        </div>
                        <div class="right-text">
                            <p class="tit">
                                <a href="http://www.9game.cn/dntghd/" title="@item.GameName" >
                                    @item.GameName</a> <span class="android"></span>
                            </p>
                            <div class="type">
                                <span class="type-con">状态：<span class="na"> @(((YunYingStateEnum)item.ServerStat).ToDescriptionName())</span></span><span
                                    class="type-con">类型：<span class="na"> @(((GameTypeEnum)item.GameType).ToDescriptionName())</span></span><span
                                        class="type-con">热度：<span class="na">@item.HotScore</span></span></div>
                        </div>
                        <div class="other-btn">
                            <a href="javascript:void(0)" target="_self" class="btn green ajax-down-pop" >
                                游戏下载</a> <a href="http://ka.9game.cn/game/539781_-5_1.html" class="btn red" >
                                    礼包领取</a> <a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=%E5%B0%8A%E6%95%AC%E7%9A%84%E4%B9%9D%E6%B8%B8%E3%80%8A%E5%A4%A7%E9%97%B9%E5%A4%A9%E5%AE%ABHD%E3%80%8B%E7%8E%A9%E5%AE%B6%EF%BC%9A%E6%82%A8%E5%A5%BD%EF%BC%8C%E3%80%8A%E5%A4%A7%E9%97%B9%E5%A4%A9%E5%AE%ABHD%E3%80%8B%20%E5%85%AC%E6%B5%8B%E5%B0%86%E5%9C%A8%E4%BB%8A%E6%97%A500%3A00%E5%BC%80%E5%90%AF%E6%96%B0%E6%9C%8D107%E5%8C%BA%E3%80%90%E9%A9%BC%E7%BD%97%E5%BA%84%E3%80%91%EF%BC%8C%E6%95%AC%E8%AF%B7%E5%85%B3%E6%B3%A8%E4%B9%9D%E6%B8%B8%E3%80%8A%E5%A4%A7%E9%97%B9%E5%A4%A9%E5%AE%ABHD%E3%80%8B%E4%B8%93%E5%8C%BA%E5%B9%B6%E9%A2%86%E5%8F%96%E7%A4%BC%E5%8C%85%E3%80%82&amp;time=2014-09-18%2000%3A00&amp;advance=5&amp;url=http%3A%2F%2Fwww.9game.cn%2Fdntghd%2F"
                                        class="btn blue" data-statis="text:txt_kf_list_po-jinri-1_other-qq">QQ提醒</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="box open-test-con">
        <div class="box-title" id="openSoon">
            <h2>
                即将开服</h2>
        </div>
        <div class="box-text">
            <table>
                <tbody>
                    <tr>
                        <th class="timetr">
                            时间
                        </th>
                        <th class="nametr">
                            游戏名称
                        </th>
                        <th class="stattr">
                            测试状态
                        </th>
                        <th class="typetr">
                            游戏分类
                        </th>
                        <th class="typetr">
                            热度
                        </th>
                        <th class="btntr">
                            游戏下载
                        </th>
                        <th class="btntr">
                            礼包领取
                        </th>
                        <th class="btntr">
                            QQ提醒
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="des-table">
                <div class="des-table1">
                    @*  <div class="day">
                        09月19日</div>*@
                    <table>
                        <tbody>
                            @foreach (var item in willserverlist)
                            {
                                <tr>
                                    <td class="timetr">
                                        <span class="time">@item.OpenTime.ToString("MM-dd HH:mm")</span>
                                    </td>
                                    <td class="nametr">
                                        <a href="http://jw2.9game.cn/" title="@item.GameName"  class="img">
                                            <img src="@WebHelper.GetImg(item.ImgPath)" class="xLazyClass"  alt="@item.GameName"><span
                                                class="radius32"></span></a> <a href="http://jw2.9game.cn/" class="name" title="@item.GameName" >@item.GameName</a>
                                        <span class="android"></span>
                                    </td>
                                    <td class="stattr">
                                        @(((YunYingStateEnum)item.ServerStat).ToDescriptionName())
                                    </td>
                                    <td class="typetr">
                                        @(((GameTypeEnum)item.GameType).ToDescriptionName())
                                    </td>
                                    <td class="typetr hot">
                                        @item.HotScore
                                    </td>
                                    <td class="btntr">
                                        <a href="javascript:void(0)" target="_self" class="sbtn icon-down ajax-down-pop">游戏下载</a>
                                    </td>
                                    <td class="btntr">
                                        <a href="http://ka.9game.cn/game/501020_-5_1.html" class="sbtn icon-gift">礼包领取</a>
                                    </td>
                                    <td class="btntr">
                                        <a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=%E5%B0%8A%E6%95%AC%E7%9A%84%E4%B9%9D%E6%B8%B8%E3%80%8A%E5%90%9B%E7%8E%8B2%E3%80%8B%E7%8E%A9%E5%AE%B6%EF%BC%9A%E6%82%A8%E5%A5%BD%EF%BC%8C%E3%80%8A%E5%90%9B%E7%8E%8B2%E3%80%8B%20%E5%85%AC%E6%B5%8B%E5%B0%86%E5%9C%A8%E4%BB%8A%E6%97%A509%3A59%E5%BC%80%E5%90%AF%E6%96%B0%E6%9C%8D1%E5%8C%BA15%E6%9C%8D%E2%80%9C%E6%B2%BC%E5%85%89%E6%B4%9E%E7%A9%B4%E2%80%9D%EF%BC%8C%E6%95%AC%E8%AF%B7%E5%85%B3%E6%B3%A8%E4%B9%9D%E6%B8%B8%E3%80%8A%E5%90%9B%E7%8E%8B2%E3%80%8B%E4%B8%93%E5%8C%BA%E5%B9%B6%E9%A2%86%E5%8F%96%E7%A4%BC%E5%8C%85%E3%80%82&amp;time=2014-09-19%2009%3A59&amp;advance=5&amp;url=http%3A%2F%2Fjw2.9game.cn%2F"
                                            class="sbtn icon-qq" data-statis="text:txt_kf_list_po-wlyz-1_other-qq">QQ提醒</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="box friend-link">
        <div class="tag-tit">
            <ul class="tag-tit-ul">
                <li class="current">友情链接</li>
            </ul>
        </div>
        <div class="box-text">
            <div class="link-con current">
                @foreach (var item in friendList.Where(c => c.LinkType == (int)FriendlinkTypeEnum.Friend))
                {
                    <a href="@item.LinkUrl" title="@item.LinkName"  class="">@item.LinkName</a>
                }
            </div>
        </div>
    </div>
</div>
