@{
    
}
@using W3WGame.Services.ToolCode
@model List<W3WGame.Core.Entities.ADConfig>
<div class="box speard-con">
				<div class="speard400">
					<a href="@Model[0].Link" class="img1" title="@Model[0].Title" name="uc_gd_adm" gd_stat="169_9846" data-statis="text:logo_p_index_gds_169_9846">
						<img src="@WebHelper.GetImg(Model[0].AdPath)" class="" width="300" height="400" alt="@Model[0].Title" style="opacity: 0.94;">
						<div class="meng meng2" style="bottom: -100%;">
							<div class="meng-con">
								<p class="tit2">@Model[0].Title</p>
							</div>
						</div>
					</a>
				</div>	
				<div class="speard195">
					<a href="@Model[1].Link" class="img2" title="@Model[1].Title" name="uc_gd_adm" gd_stat="169_5029" data-statis="text:logo_p_index_gds_169_5029">
						<img src="@WebHelper.GetImg(Model[1].AdPath)" class="" width="195" height="259" alt="@Model[1].Title" style="opacity: 0.94;">
						<div class="meng meng2">
							<div class="meng-con">
								<p class="tit2">@Model[1].Title</p>
							</div>
						</div>
					</a>
					<a href="@Model[2].Link" class="img3" title="@Model[2].Title" name="uc_gd_adm" gd_stat="169_3736" data-statis="text:logo_p_index_gds_169_3736">
						<img src="@WebHelper.GetImg(Model[2].AdPath)" class="" width="195" height="144" alt="@Model[2].Title" style="opacity: 0.94;">
						<div class="meng meng2">
							<div class="meng-con">
								<p class="tit2">@Model[2].Title</p>
							</div>
						</div>
					</a>
				</div>
				<div class="speard400">
					<a href="@Model[3].Link" class="img1" title="@Model[3].Title" name="uc_gd_adm" gd_stat="169_4245" data-statis="text:logo_p_index_gds_169_4245">
						<img src="@WebHelper.GetImg(Model[3].AdPath)" class="" width="300" height="400" alt="@Model[3].Title" style="opacity: 0.94;">
						<div class="meng meng2">
							<div class="meng-con">
								<p class="tit2">@Model[3].Title</p>
							</div>
						</div>
					</a>
				</div>	
				<div class="speard192">
					<a href="@Model[4].Link" class="img4" title="仙侠" name="uc_gd_adm" gd_stat="169_6472" data-statis="text:logo_p_index_gds_169_6472">
						<img src="@WebHelper.GetImg(Model[4].AdPath)" class="" width="195" height="144" alt="@Model[4].Title" style="opacity: 0.94;">
						<div class="meng meng2">
							<div class="meng-con">
								<p class="tit2">@Model[4].Title</p>
							</div>
						</div>
					</a>
					<a href="@Model[5].Link" class="img5" title="@Model[5].Title" name="uc_gd_adm" gd_stat="169_3420" data-statis="text:logo_p_index_gds_169_3420">
						<img src="@WebHelper.GetImg(Model[5].AdPath)" class="" width="195" height="259" alt="@Model[5].Title" style="opacity: 0.94;">
						<div class="meng meng2">
							<div class="meng-con">
								<p class="tit2">@Model[5].Title</p>
							</div>
						</div>
					</a>				
				</div>
</div>

