@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";

    var gamesyslist = ViewData["gamesyslist"] as List<SelectListItem>;
    var gametypelist = ViewData["gametypelist"] as List<SelectListItem>;
    var gameTeZhenlist = ViewData["gameTeZhenlist"] as List<SelectListItem>;
    var yunyingStatelist = ViewData["yunyingStatelist"] as List<SelectListItem>;
    ViewBag.Tag = 1;
    
           
}
@using W3WGame.Core.Enums
@using W3WGame.Services.ToolCode
@using WangFramework.Extensions
@using WangFramework.MvcPager
@model WangFramework.MvcPager.PagedList<W3WGame.Core.Entities.MobilGame>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/public_9game.css?ver=20140327">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/pcnew_public.css?ver=20140327">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/public/pub_header.css">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/pc2/pcnew_ol.css">
<script type="text/javascript">
    $(function () {
         var csys = '@Request["gamesys"]';
         var cgameType = '@Request["gameType"]';
        var cte = '@Request["gameTeZhen"]';
        var cy = '@Request["yunyingState"]';
        
    if (csys != "")
    {
        
     $("#gamesys a").removeClass("current");
     $("#gamesys a[sys='@Request["gamesys"]']").addClass("current");

    } else {
  $("#gamesys a:first").addClass("current");
    }
      if (cgameType != "")
    {
       
     $("#cgametype a").removeClass("current");
     $("#cgametype a[gametype='@Request["gameType"]']").addClass("current");

    } else {
     $("#cgametype a:first").addClass("current");
      }
      if (cte != "")
    {
       
     $("#ctezhen a").removeClass("current");
     $("#ctezhen a[tezhen='@Request["gameTeZhen"]']").addClass("current");

    } else {
   $("#ctezhen a:first").addClass("current");
      }
      if (cy != "")
    {
       
     $("#cyunying a").removeClass("current");
     $("#cyunying a[yunying='@Request["yunyingState"]']").addClass("current");

    } else {
   $("#cyunying a:first").addClass("current");
      }
   
    }
    );
</script>
<div class="main-con">

    <div class="page-break padding">
        <a href="#" title="手机游戏">手机游戏</a> &gt;<a href="#" title="手机网游分类">手机网游分类</a> &gt;<h1>
                                                                                            最热安卓android休闲类手机网游下载</h1>
    </div>
    <div class="game-classify">
        <div class="box-title">
            <h2>
                网游分类</h2>
            <a href="/category/" target="_self" class="server-more" title="单机分类">单机分类</a>
        </div>
        <div class="classify">
            <div class="name">
                游戏平台：</div>
            <div class="type" id="gamesys">
                <a href="@Url.Action("index", "category", new {  gametype = Request["gametype"], gameTeZhen = Request["gameTeZhen"], yunyingState = Request["yunyingState"] })"   target="_self" >
                    全部</a>
                @for (int i = 0; i < gamesyslist.Count; i++)
                {
                    <a href="@Url.Action("index", "category", new { gamesys = gamesyslist[i].Value, gametype = Request["gametype"], gameTeZhen = Request["gameTeZhen"], yunyingState = Request["yunyingState"] })"
                       class="@(i == gamesyslist.Count - 1 ? "last" : "")" sys="@gamesyslist[i].Value" target="_self"  title="@gamesyslist[i].Text">@gamesyslist[i].Text</a>
                }
            </div>
        </div>
        <div class="classify last">
            <div class="name">
                游戏分类：</div>
            <div class="type" id="cgametype">
                <a href="@Url.Action("index", "category", new { gamesys = Request["gamesys"],  gameTeZhen = Request["gameTeZhen"], yunyingState = Request["yunyingState"] })"   target="_self" >
                    全部</a>
                @for (int i = 0; i < gametypelist.Count; i++)
                {
                    <a href="@Url.Action("index", "category", new { gamesys = Request["gamesys"], gametype = gametypelist[i].Value, gameTeZhen = Request["gameTeZhen"], yunyingState = Request["yunyingState"] })"
                       class="@(i == gametypelist.Count - 1 ? "last" : "")" gametype="@gametypelist[i].Value" target="_self"  title="@gametypelist[i].Text">@gametypelist[i].Text</a>
                }
            </div>
        </div>
        <div class="classify last">
            <div class="name">
                游戏特征：</div>
            <div class="type" id="ctezhen">
                <a href="@Url.Action("index", "category", new { gamesys = Request["gamesys"], gametype = Request["gametype"], yunyingState = Request["yunyingState"] })" class="current" title="全部" target="_self"
                    >全部</a>
                @for (int i = 0; i < gameTeZhenlist.Count; i++)
                {
                    <a href="@Url.Action("index", "category", new { gamesys = Request["gamesys"], gametype = Request["gametype"], gameTeZhen = gameTeZhenlist[i].Value, yunyingState = Request["yunyingState"] })"
                       class="@(i == gameTeZhenlist.Count - 1 ? "last" : "")" tezhen="@gameTeZhenlist[i].Value" target="_self"  title="@gameTeZhenlist[i].Text">@gameTeZhenlist[i].Text</a>
                }
            </div>
        </div>
        <div class="classify last">
            <div class="name">
                运营状态：</div>
            <div class="type" id="cyunying">
                <a href="@Url.Action("index", "category", new { gamesys = Request["gamesys"], gametype = Request["gametype"],gameTeZhen=Request["gameTeZhen"] })"  title="全部" target="_self"
                   data-statis="text:p_ng_category_cg_yyzt_0">全部</a>
                @for (int i = 0; i < yunyingStatelist.Count; i++)
                {
                    <a href="@Url.Action("index", "category", new { gamesys = Request["gamesys"], gametype = Request["gametype"], gameTeZhen = Request["gameTeZhen"], yunyingState = yunyingStatelist[i].Value })"
                       class="@(i == yunyingStatelist.Count - 1 ? "last" : "")" yunying="@yunyingStatelist[i].Value" target="_self"  title="@yunyingStatelist[i].Text">@yunyingStatelist[i].Text</a>
                }
            </div>
        </div>
    </div>
    <div class="box-text">
        <div class="tag-tit">
            <ul class="tag-tit-ul">
                <li class="current"><a href="#" 
                                       title="最热" target="_self">最热</a></li>
                
            </ul>
        </div>
        <div class="game-poker-con">
            <ul class="game-poker" id="ajax_loading_con">
                @foreach (var item in Model)
                {
                    <li class=""><a href="@WebHelper.GetGameUrl(item.Domain)" class="info"  title="@item.GameName">
                                     <img src="@WebHelper.GetImg(item.ImgPath)" alt="@item.GameName">
                                     <p>
                                         @item.GameName</p>
                                     <span class="radius120"></span></a>
                        <p class="type">
                            @(((GameTypeEnum)item.GameType).ToDescriptionName())
                            | @item.Size<text>M</text></p>
                        <div class="fav">
                            <span class="good"></span><span class="good"></span><span class="good"></span><span
                                                                                                              class="good"></span><span class="bad"></span>
                        </div>
                        <a href="http://www.9game.cn/game/downs_519910_2.html?ch=JY_3" target="_self" class="down">
                            立即下载</a> </li>
                }
            </ul>
            <div class="page-change" id="page_change" style="display: block;">
                @Html.Pager(Model)
            </div>
        </div>
    </div>
</div>
