@{
    ViewBag.Title = "保存手游游戏表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model W3WGame.Admin.Controllers.MobilGameManager.ViewModels.SaveMobilGame
<link href="../../Scripts/jquery-validation-engine/css/template.css" rel="stylesheet"
    type="text/css" />
<link href="../../Scripts/jquery-validation-engine/css/validationEngine.jquery.css"
    rel="stylesheet" type="text/css" />
<link href="../../Scripts/kindeditor-4.1.4/themes/default/default.css" rel="stylesheet"
    type="text/css" />
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-validation-engine/js/jquery.validationEngine.js"
    type="text/javascript"></script>
<script src="../../Scripts/jquery-validation-engine/js/languages/jquery.validationEngine-zh_CN.js"
    type="text/javascript"></script>
<script src="../../Scripts/kindeditor-4.1.4/kindeditor-min.js" type="text/javascript"></script>
<script src="../../Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#form1").validationEngine();


    })
</script>
<div class="wrap">
    <div class="right_box_card">
        <ul>
            <li class="right_box_card1"><a href="#">保存手游游戏表</a></li>
        </ul>
    </div>
    <div>
        <div style="color: red;">
        </div>
        @using (Html.BeginForm("Save", "MobilGameManager", FormMethod.Post, new { @class = "formular", id = "form1", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(c => c.ID)
            <table class="enter_tab" width="100%" border="0" cellpadding="0" cellspacing="0">
              
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.GameName)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.TextBoxFor(c => c.GameName, new { @class = "validate[required] text-input", style = "width=240px;" })
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.Domain)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.TextBoxFor(c => c.Domain, new { @class = "validate[required] text-input", style = "width=240px;" })
                    </td>
                </tr>

                <tr height="40">
                    <td class="entry_tab_td1">
                        上传广告图片
                    </td>
                    <td class="entry_tab_td2">
                        <input name="file" type="file" id="file" />
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.Sys)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.DropDownListFor(c => c.Sys, ViewData["syslist"] as List<SelectListItem>)
                    </td>
                </tr>
             
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.Size)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.TextBoxFor(c => c.Size, new { @class = "validate[required] text-input", style = "width=240px;" })
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.HasGift)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.CheckBoxFor(c => c.HasGift)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.IsHot)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.CheckBoxFor(c => c.IsHot)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.IsNew)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.CheckBoxFor(c => c.IsNew)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.IsBiWan)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.CheckBoxFor(c => c.IsBiWan)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.IsThisAWeekHot)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.CheckBoxFor(c => c.IsThisAWeekHot)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.IsTuiJian)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.CheckBoxFor(c => c.IsTuiJian)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.IsQianLiBao)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.CheckBoxFor(c => c.IsQianLiBao)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.IsGameType)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.CheckBoxFor(c => c.IsGameType)
                    </td>
                </tr>
                 <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.Sort)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.TextBoxFor(c => c.GameType, new { @class = "validate[required] text-input", style = "width=240px;" })
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.GameType)
                    </td>
                    <td class="entry_tab_td2">
                       @Html.DropDownListFor(c => c.GameType, ViewData["GameTypeEnumList"] as List<SelectListItem>)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.GameTeZhen)
                    </td>
                    <td class="entry_tab_td2">
                         @Html.DropDownListFor(c => c.GameTeZhen, ViewData["GameTeZhenList"] as List<SelectListItem>)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.YunYingState)
                    </td>
                    <td class="entry_tab_td2">
                       @Html.DropDownListFor(c => c.YunYingState, ViewData["YunYingStateEnumList"] as List<SelectListItem>)
                    </td>
                </tr>
                <tr height="40">
                    <td class="entry_tab_td1">@Html.LabelFor(c => c.HotScore)
                    </td>
                    <td class="entry_tab_td2">
                        @Html.TextBoxFor(c => c.HotScore, new { @class = "validate[required] text-input", style = "width=240px;" })
                    </td>
                </tr>
               
                <tr>
                    <td>
                    </td>
                    <td style="line-height: 30px;">@Html.ValidationSummary()
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="保存" class="submit" style="width: 100px; height: 30px;" />
                    </td>
                    <td>
                    </td>
                </tr>
            </table> 
        }
    </div>
</div>
