@{
    Layout = "~/Views/Shared/_GameWebLayout.cshtml";
    var serverlist = ViewData["serverlist"] as List<GameServers>;
    var gamekalist = ViewData["gamekalist"] as List<GameKa>;
    var gameinfo = ViewData["gameinfo"] as MobilGame;
    var friendlist = ViewData["friendlist"] as List<FriendLink>;
    var centernewslist = Model.Where(c => c.NewsType == (int)NewsTypeEnum.News || c.NewsType == (int)NewsTypeEnum.GongGao);
    var gameLunBo = ViewData["GameLunBo"] as List<ADConfig>;
    var gameBLook = ViewData["GameBLook"] as List<ADConfig>;
    int i = 1;
    int j = 1;
    
}
@using W3WGame.Core.Entities
@using W3WGame.Core.Enums
@using W3WGame.Services.ToolCode
@using WangFramework.Extensions
@using WangFramework.Utility
@model  List<W3WGame.Core.Dtos.Web.GameNewsDto>
<div class="main-wrap">
    <div class="box">
       @Html.Action("GameDanner","mainLayout")
        <div class="contain main-box">
            <div class="foucs-con">
                <ul class="focus-img" x-now-data="1">
                 @foreach(var item in gameLunBo)
                 {
                     <li class="@(j==1?"current":"")" d="@(j++)"><a href="@item.Link">
                             <img src="@WebHelper.GetImg(item.AdPath)" alt="​@item.Title"></a></li>
                    
                 }
                </ul>
                <div class="focus-ctrl">
                    @foreach(var item in gameLunBo)
                    {
                          <a href="javascript:void(0);" target="_self" class="@(i==1?"current":"")">@(i++)</a>
                    }
                </div>
            </div>
            <div class="hot-news hot-news-yr">
                <p class="hot-title">
                    <a href="http://qsmy.w3wgame.com/news/263218.html" >
                        秦时明月9月10日 最强机关觉醒公测来袭</a></p>
                <ul class="news-list">
                    @foreach (var item in centernewslist.Take(5))
                    {
                        <li><span class="type">@(((NewsTypeEnum)item.NewsType).ToDescriptionName())</span><a
                            href="http://qsmy.w3wgame.com/news/279667.html" >
                            @Utils.LeftString(item.Title, 15)</a><span class="date">@item.CreateDate.ToString("MM-dd")</span></li>
                    }
                </ul>
                <ul class="news-list last">
                    @foreach (var item in centernewslist.Skip(5).Take(5))
                    {
                        <li><span class="type">@(((NewsTypeEnum)item.NewsType).ToDescriptionName())</span><a
                            href="http://qsmy.w3wgame.com/news/279667.html" >
                            @Utils.LeftString(item.Title, 15)</a><span class="date">@item.CreateDate.ToString("MM-dd")</span></li>
                    }
                </ul>
                <a href="/news?tid=1" class="more">查看更多&gt;&gt;</a>
            </div>
            <div class="box down-yure">
                <div class="titile-con">
                    <h1>@gameinfo.GameName 官网下载</h1>
                </div>
                <div class="context-con">
                    <div class="des">
                        <span class="img">
                            <img src="http://image.game.uc.cn/2014/8/19/9864525.png" alt="秦时明月"><i class="radius80"></i></span>
                        @gameinfo.GameDes <span class="more">[详情]
                            <div class="tips">
                                <span class="cor"></span>
                                <p>
                                    @gameinfo.GameDes
                                </p>
                            </div>
                        </span>
                    </div>
                    <ul class="info">
                        <li><span class="type">类型</span> @(((GameTypeEnum)gameinfo.GameType).ToDescriptionName())</li>
                        <li><span class="type">平台</span> @(((GameSysEnum)gameinfo.Sys).ToDescriptionName())</li>
                        <li class="long"><span class="type">状态</span>@(((YunYingStateEnum)gameinfo.YunYingState).ToDescriptionName())</li>
                    </ul>
                    <div class="btn-con">
                        <span class="btn green code-show-yr">游戏下载</span> <a href="http://ka.w3wgame.com/game/535529_-5_1.html"
                            class="btn red" data-statis="text:gw_index_yxxz_qsmy_lqlb">领取礼包</a>
                    </div>
                    <div class="server">
                        4006661551</div>
                </div>
            </div>
        </div>
    </div>
    <div class="contain float-box">
        <div class="box atr-list-245">
            <div class="titile-con">
                <h2>
                    <a href="http://qsmy.w3wgame.com/newslist/rmhd_0/">@gameinfo.GameName
                        活动公告</a></h2>
                <a href="/news?tid=2" class="more">更多&gt;&gt;</a></div>
            <div class="context-con">
                <ul class="news-list">
                    @foreach (var item in Model.Where(c => c.NewsType == (int)NewsTypeEnum.GongGao))
                    {
                        <li><a href="http://qsmy.w3wgame.com/news/279667.html" data-statis="text:gw_index_yxxw_qsmy_279667">
                            @Utils.LeftString(item.Title, 15)</a><span class="date">@item.CreateDate.ToString("MM-dd")</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="box game-gift-2 game-gift-yr">
            <div class="titile-con">
                <h2>
                    <a href="http://ka.w3wgame.com/game/535529.0_-5_1.html">秦时明月礼包领取</a></h2>
                <a href="http://ka.w3wgame.com/game/535529.0_-5_1.html" class="more">更多&gt;&gt;</a></div>
            <div class="context-con">
                <table class="gift-table">
                    <tbody>
                        <tr>
                            <th class="name">
                                <span>礼包名称</span>
                            </th>
                            <th class="text">
                                <span>礼包状态</span>
                            </th>
                            <th class="text">
                                <span>礼包领取</span>
                            </th>
                        </tr>
                        @foreach (var item in gamekalist)
                        {
                            <tr>
                                <td>
                                    <a href="#" class="name">@item.KaTitle</a>
                                    <span class="tips-con">
                                        <div class="tips" style="display: none;">
                                            <span class="cor"></span>
                                            <p class="tip-title">
                                                礼包内容：</p>
                                            @MvcHtmlString.Create(item.KaContent) <a href="http://ka.w3wgame.com/personal/1413367046836136048.html"
                                                class="tip-more">更多详情&gt;&gt;</a>
                                        </div>
                                    </span>
                                </td>
                                @*   <td>
                                    已被淘号<span class="orange">684</span>次
                                </td>
                                <td>
                                    <a href="http://ka.w3wgame.com/personal/1413367046836136048.html" class="btn reget">淘号</a>
                                </td>*@
                                <td>
                                    剩余<span class="orange">@item.Shengyu</span>个
                                </td>
                                <td>
                                    <a href="http://ka.w3wgame.com/personal/1413367046836136048.html" class="btn reget">领取</a>
                                </td>
                            </tr>
                         
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="contain float-box">
        <div class="box atr-list-245">
            <div class="titile-con">
                <h2>
                    <a href="/news?tid=1">@gameinfo.GameName
                        游戏新闻</a></h2>
                <a href="/news?tid=1" class="more">更多&gt;&gt;</a></div>
            <div class="context-con">
                <ul class="news-list">
                    @foreach (var item in Model.Where(c => c.NewsType == (int)NewsTypeEnum.News))
                    {
                        <li><a href="@WebHelper.GetGameNews(item.ID)" data-statis="text:gw_index_yxxw_qsmy_279667">
                            @Utils.LeftString(item.Title, 15)</a><span class="date">@item.CreateDate.ToString("MM-dd")</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="box game-gift-2 game-gift-yr">
            <div class="titile-con">
                <h2>
                    <a href="http://ka.w3wgame.com/game/535529.0_-5_1.html">@gameinfo.GameName 游戏开服</a></h2>
                <a href="http://ka.w3wgame.com/game/535529.0_-5_1.html" class="more">更多&gt;&gt;</a></div>
            <div class="context-con">
                <table class="gift-table">
                    <tbody>
                        <tr>
                            <th class="name">
                                <span>区服</span>
                            </th>
                            <th class="text">
                                <span>状态</span>
                            </th>
                            <th class="text">
                                <span>开服时间</span>
                            </th>
                        </tr>
                        @foreach (var item in serverlist)
                        {
                            <tr>
                                <td>
                                    @gameinfo.GameName @(item.ServerName)
                                </td>
                                <td>
                                    <span class="orange">@(((YunYingStateEnum)item.ServerStat).ToDescriptionName())</span>
                                </td>
                                <td>
                                    @item.CreateDate.ToString("mm-dd hh:mm:ss")
                                </td>
                            </tr>
                         
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="contain box game-pic-yr style2">
        <div class="titile-con">
            <h2>
                @gameinfo.GameName 游戏截图</h2>
        </div>
        <div class="context-con">
            <ul class="pic-con">
               @foreach(var item in gameBLook)
               {
                    <li >
                    <img src="@WebHelper.GetImg(item.AdPath)">
                </li>
               }
               
            </ul>
            <div class="meng-con">
                <div class="meng-l">
                </div>
                <div class="meng-r">
                </div>
                <div class="meng-b">
                </div>
            </div>
            <span class="ctrl next"></span><span class="ctrl prev"></span>
        </div>
    </div>
    @*       <div class="box contain game-qa-con">
        <div class="titile-con">
            <h2>
                有问必答</h2>
        </div>
        <div class="context-con">
            <div class="qa-info">
                <div class="qa-des">
                    <a href="http://bbs.w3wgame.com/forum.php?mod=forumdisplay&amp;fid=1180&amp;filter=typeid&amp;typeid=5832&amp;from=jy_p_wenda_qinshi"
                        class="qa-btn">我要提问</a>
                    <div class="des">
                        <p class="tit">
                            提问小贴士：</p>
                        <p class="text">
                            因每位咨询者提问情况，提问时间等不同。为此，小编会3天内给提问者回复，其他网友仅供参考！给您带来的不便还请谅解，谢谢！</p>
                    </div>
                </div>
                <div id="comment_list">
                    <div class="qa-detail odd">
                        <p class="name">
                            玩家：w3w游戏用户<span class="time">2014-8-19 12:23:20</span></p>
                        <p class="q-con">
                            问题：秦时明月招募弟子技巧?</p>
                        <div class="a-con">
                            <span class="cor"></span>
                            <p class="text">
                                小编回复：<span class="time">2014-8-19 15:10:0</span>
                            </p>
                            <p class="text">
                                秦时明月招募弟子技巧? 在秦时明月中，招募弟子根本没有所谓的技巧，招募弟子完全是根据系统自动抽取的。招募弟子会根据百里挑一、千载难逢、万众瞩目、十连抽万众瞩目里面系统自动抽取相同等级与颜色的弟子。其中百里挑一是蓝卡，千载难逢是紫卡，万众瞩目是橙卡(最高等级)。</p>
                        </div>
                    </div>
                    <div class="qa-detail">
                        <p class="name">
                            玩家：w3w游戏用户<span class="time">2014-8-19 12:11:20</span></p>
                        <p class="q-con">
                            问题：秦时明月怎么邀请好友？</p>
                        <div class="a-con">
                            <span class="cor"></span>
                            <p class="text">
                                小编回复：<span class="time">2014-8-19 14:58:0</span>
                            </p>
                            <p class="text">
                                秦时明月怎么邀请好友？ 点击游戏主页右上角活动，在里面找到邀请好友就行了，把显示的邀请码发给别人填写，人家的码你也可以填在里面，只能填写一个人，对方通过即可获得188元宝。</p>
                        </div>
                    </div>
                    <div class="qa-detail odd">
                        <p class="name">
                            玩家：w3w游戏用户<span class="time">2014-8-19 11:43:20</span></p>
                        <p class="q-con">
                            问题：秦时明月剑谱排名 前十冷剑削铁如泥</p>
                        <div class="a-con">
                            <span class="cor"></span>
                            <p class="text">
                                小编回复：<span class="time">2014-8-19 14:30:0</span>
                            </p>
                            <p class="text">
                                秦时明月剑谱排名？ 【第一名：天问】 【第二名：渊虹】 【第三名：太阿】 【第四名：干将】 【第五名：莫邪】 【第六名：雪霁】 【第七名：水寒】 【第八名：湛卢】
                                【第九名：赤霄】 【第十名：凌虚】</p>
                        </div>
                    </div>
                    <div class="qa-detail">
                        <p class="name">
                            玩家：w3w游戏用户<span class="time">2014-8-19 11:33:20</span></p>
                        <p class="q-con">
                            问题：秦时明月手游兑换码 秦时明月礼包哪儿领</p>
                        <div class="a-con">
                            <span class="cor"></span>
                            <p class="text">
                                小编回复：<span class="time">2014-8-19 14:20:0</span>
                            </p>
                            <p class="text">
                                秦时明月手游兑换码 秦时明月礼包哪儿领？ 复制http://ka.w3wgame.com/game/535529_-5_1.html 这里有全网最丰富的秦时明月手游礼包兑换码！</p>
                        </div>
                    </div>
                    <div class="qa-detail odd">
                        <p class="name">
                            玩家：w3w游戏用户<span class="time">2014-7-1 15:44:20</span></p>
                        <p class="q-con">
                            问题：秦时明月名剑排行前六名剑是什么？</p>
                        <div class="a-con">
                            <span class="cor"></span>
                            <p class="text">
                                小编回复：<span class="time">2014-7-1 18:31:0</span>
                            </p>
                            <p class="text">
                                秦时明月名剑排行前七名剑是什么？ 第一名：天问，出自楚国，现为秦始皇剑 第二名：渊虹，前身为残虹 第三名：太阿，儒家掌门伏念佩剑 第四名：雪霁，道家宝物 第五名：水寒，高渐离佩剑
                                第六名：巨阙。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-unload" id="page_reload" style="display: block;">
                <a href="javascript:void(0);" target="_self" class="page-reload">点击查看更多加载</a>
            </div>
            <div class="page-load" id="page_load" style="display: none;">
                <img src="" alt="">正在加载，请稍后...
            </div>
        </div>
    </div>
    <div class="box contain game-detail">
    </div>
    <div class="box contain game-recom">
        <div class="titile-con">
            <h2>
                猜你喜欢</h2>
        </div>
        <div class="context-con">
            <div class="game-recom-con">
                <a href="http://rxgd.w3wgame.com/" class="recom-con " data-statis="text:gw_index_guess_qsmy_540542">
                    <img src="http://image.game.uc.cn/2014/8/26/9878641_.gif" alt="热血格斗OL">
                    <p>
                        热血格斗OL</p>
                    <span class="radius60"></span></a><a href="http://dlnw.w3wgame.com/" class="recom-con "
                        data-statis="text:gw_index_guess_qsmy_539350">
                        <img src="http://image.game.uc.cn/2014/10/11/9981088_.gif" alt="地牢女王">
                        <p>
                            地牢女王</p>
                        <span class="radius60"></span></a><a href="http://btx.w3wgame.com/" class="recom-con "
                            data-statis="text:gw_index_guess_qsmy_540143">
                            <img src="http://image.game.uc.cn/2014/7/30/9826312_.png" alt="霸天下">
                            <p>
                                霸天下</p>
                            <span class="radius60"></span></a><a href="http://dtcq.w3wgame.com/" class="recom-con "
                                data-statis="text:gw_index_guess_qsmy_535733">
                                <img src="http://image.game.uc.cn/2014/7/10/9797218_.jpg" alt="刀塔传奇">
                                <p>
                                    刀塔传奇</p>
                                <span class="radius60"></span></a><a href="http://www.w3wgame.com/bbzs/" class="recom-con "
                                    data-statis="text:gw_index_guess_qsmy_538597">
                                    <img src="http://image.game.uc.cn/2014/9/16/9914051_.png" alt="不败战神">
                                    <p>
                                        不败战神</p>
                                    <span class="radius60"></span></a><a href="http://fknsg.w3wgame.com/" class="recom-con "
                                        data-statis="text:gw_index_guess_qsmy_527432">
                                        <img src="http://image.game.uc.cn/2014/9/2/9891091_.gif" alt="放开那三国">
                                        <p>
                                            放开那三国</p>
                                        <span class="radius60"></span></a><a href="http://jhzr.w3wgame.com/" class="recom-con "
                                            data-statis="text:gw_index_guess_qsmy_537595">
                                            <img src="http://image.game.uc.cn/2014/9/12/9908590_.jpg" alt="剑魂之刃">
                                            <p>
                                                剑魂之刃</p>
                                            <span class="radius60"></span></a><a href="http://gddh.w3wgame.com/" class="recom-con "
                                                data-statis="text:gw_index_guess_qsmy_538780">
                                                <img src="http://image.game.uc.cn/2014/7/13/9800152_.jpg" alt="格斗刀魂Online">
                                                <p>
                                                    格斗刀魂Online</p>
                                                <span class="radius60"></span></a><a href="http://www.w3wgame.com/csxy2/" class="recom-con "
                                                    data-statis="text:gw_index_guess_qsmy_540516">
                                                    <img src="http://image.game.uc.cn/2014/6/26/9776727_.jpg" alt="超神学院">
                                                    <p>
                                                        超神学院</p>
                                                    <span class="radius60"></span></a><a href="http://www.w3wgame.com/bydr3/" class="recom-con "
                                                        data-statis="text:gw_index_guess_qsmy_536689">
                                                        <img src="http://image.game.uc.cn/2014/7/21/9811700_.gif" alt="捕鱼达人3">
                                                        <p>
                                                            捕鱼达人3</p>
                                                        <span class="radius60"></span></a><a href="http://txhd.w3wgame.com/" class="recom-con last"
                                                            data-statis="text:gw_index_guess_qsmy_535356">
                                                            <img src="http://image.game.uc.cn/2014/9/17/9919017_.png" alt="天下HD">
                                                            <p>
                                                                天下HD</p>
                                                            <span class="radius60"></span></a>
            </div>
        </div>
    </div>*@
    <div class="box contain fri-link">
        <div class="titile-con">
            <h2>
                友情链接</h2>
        </div>
        <div class="context-con">
            @foreach (var item in friendlist.Where(c => c.LinkType == (int)FriendlinkTypeEnum.Friend))
            {
                <a href="@item.LinkUrl">@item.LinkName</a> 
            }
        </div>
    </div>
</div>
