@using W3WGame.Core.Dtos.Web
@using W3WGame.Core.Entities
@using W3WGame.Core.Enums
@using W3WGame.Services.ToolCode
@using WangFramework.Extensions
@using WangFramework.MvcPager
@using WangFramework.Utility
@{
    Layout = "~/Views/Shared/_GameWebLayout.cshtml";
    var gameinfo = ViewData["gameinfo"] as MobilGame;

}
@model WangFramework.MvcPager.PagedList<GameNews>
<div class="main-wrap">
     <div class="box">
    @Html.Action("GameDanner", "mainLayout")
    </div>
    <p class="bread">
        <a target="_self" href="http://www.9game.cn/">九游手机游戏</a>&gt;<a target="_self" href="http://jhzr.9game.cn/">@gameinfo.GameName</a>&gt;<span>游戏@(((NewsTypeEnum)ViewBag.Tid).ToDescriptionName())</span></p>
    <div class="contain">
        <div class="left-con">
            <div class="box detail-page" style="min-height: 1140px;">
                <h2 class="title">
                    游戏@(((NewsTypeEnum)ViewBag.Tid).ToDescriptionName())</h2>
              
                <ul class="news-list">
                    @foreach(var item in Model)
                    {
                        <li><a href="http://jhzr.9game.cn/news/262388.html"> @item.Title</a><span
                                                                                                class="date">@item.CreateDate.ToString("MM-dd")</span></li>

                                        
                    }
                    <div class="page">
                        @Html.Pager(Model)
                    </div>
                </ul>
            </div>
           
        </div>
        @Html.Action("GameRight","mainLayout",new {gameid=gameinfo.ID})
    </div>
    <div class="box contain game-detail">
    </div>

</div>
